
// These classes override or extend bootstrap's naming conventions.

// Fonts and Types
// - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  -|
strong
    font-weight: $font-weight-bold

.font-weight-semibold
    font-weight: $font-weight-semibold

.font-family-sans-serif
    font-family: $font-family-sans-serif

.font-family-inherit
    font-family: inherit
    
.unstyle, .unlink
    color: inherit
    text-decoration: inherit
    &:hover
        color: inherit
        text-decoration: inherit

.cursor-pointer
    cursor: pointer

.text-inherit
    color: inherit

// Positional
// - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  -|
.vertically-center, .v-center
    position: relative
    top: 50%
    transform: translateY(-50%)

.top-0
    top: 0
.right-0
    right: 0
.bottom-0
    bottom: 0
.left-0
    left: 0
.unposition
    top: 0
    right: 0
    bottom: 0
    left: 0

// Sizing
// - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  -|
.w-0
    width: 0px
.h-0
    height: 0px

// Visibility
// - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  -|
.overflow-hidden
    overflow: hidden

// Border
// - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  -|
.border-dashed
    border-style: dashed

// Buttons
// - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  - -  -|
button
    cursor: pointer
.unbutton
    border: none
    outline: none
    background-color: transparent